body {
    background-color: white;
    margin: 0;
}

.card {
    margin-right: 20px;
}

input {
    margin: 10px 5px 10px 5px;
}

button {
    margin-right: 5px;
    margin-bottom: 5px;
}


select {
    margin: 10px 5px 10px 0;
}
